<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
    <title>All Matches</title>
  </head>
  <body>
    {{>navbar}}
    <div class="wrapper">
      <div class="container">
        <div class="row">
           <div class="col-md-5">
              <img src="./images/left.PNG" alt="">   
            </div>
            <div class="col-md-6 right">
              <img src="./images/right.PNG" alt="">
            </div>
        </div>
        <div class="row">
           <div class="col-md-5">
              <img src="./images/left1.PNG" alt="">   
            </div>
            <div class="col-md-6 right1">
              <img src="./images/right1.PNG" alt="">
            </div>
        </div>

       
          </div>
      </div>
    </div>
    
  </body>
</html>

