.myContainer {
  margin-bottom: 500px;
}
.mainHeading {
  font-size: 30px;
}
.cartImage {
  height: 50px;
  width: 85.16px;
}
.cart-form > input,
#payment {
  width: 50%;
  text-align: left !important;
}
